    <%- include('./header')%>
    <title><%= title%></title>
    <style>
        form{
            width: 300px;
            margin:100px auto 0px auto;
            
        }
        form>div:nth-child(3){
            text-align: center;
        }
        form>div:nth-child(3)>button{
            width: 200px;
        }
    </style>
</head>
<body>
    <!-- <h1><%= title%></h1> -->
    <form onsubmit="return false">
        <div class="form-group">
          <label for="username">账号:</label>
          <input type="text" class="form-control input-xlarge" id="username" placeholder="请输入账号">
        </div>
        <div class="form-group">
          <label for="password">密码:</label>
          <input type="password" class="form-control input-xlarge" id="password" placeholder="请输入密码">
        </div>
        <div>
            <button type="submit" id="login" class="btn btn-success ">登录</button>
            

        </div>
        <!-- <a  id="register" class="btn btn-defaul " href="/register">注册</button> -->
        <div style="text-align:center">
            <a href="/register" >注册</a>
        </div>
            
      </form>
</body>
<script>
    $('#login').on('click',function(){
        var username = $('#username').val();
        var password = $('#password').val();
        var data = {
            "username":username,
            "password":password
        }
        $.ajax({
            url:'/',
            method:'post',
            data:data,
            success:function(res){
                if(res.code==1){
                    alert(res.msg)
                    location.href='/info'
                }else{
                    alert(res.msg)
                }

                // console.log(res);

            },
            error:function(err){

                console.log(err)
            }
        })
    })
</script>
</html>